Logic_Apps/AutoCloseMDATPAlerts/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "azuresentinel_1_Connection_Name": {
      "type": "string",
      "defaultValue": "winDefenderSentinel"
    },
    "ClientId": {
      "type": "string",
      "metadata": {
        "description": "Client (or Application) ID of the Azure Active Directory application."
      },
      "defaultValue": ""
    },
    "ClientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "Client secret of the Azure Active Directory application."
      }
    },
    "ManageOfficeTenantId": {
      "type": "string",
      "metadata": {
        "description": "The tenant ID of for the Azure Active Directory application."
      },
      "defaultValue": "ba47b1c4-37b1-4301-b0d6-eca8ccf0818f"
    },
    "azuresentinel_1_token:resourceUri": {
      "type": "string",
      "metadata": {
        "description": "The resource you are requesting authorization to use."
      },
      "defaultValue": "https://management.azure.com/"
    },
    "azuresentinel_1_token:grantType": {
      "type": "string",
      "metadata": {
        "description": "Grant type"
      },
      "defaultValue": "client_credentials",
      "allowedValues": [
        "code",
        "client_credentials"
      ]
    },
    "wdatp_1_Connection_Name": {
      "type": "string",
      "defaultValue": "wdatp"
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "defaultValue": "[resourceGroup().location]"
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "AutoCloseMDATPAlerts"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Alert_Id_": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AlertId",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {}
            },
            "Global_Scope": {
              "type": "Scope",
              "actions": {
                "For_each": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['Entities']",
                  "actions": {
                    "Condition": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(variables('AlertId'))",
                              0
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each')?['Type']",
                              "host"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Alerts_-_Update_alert": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['wdatp']['connectionId']"
                              }
                            },
                            "method": "patch",
                            "body": {
                              "status": "Resolved",
                              "classification": "FalsePositive",
                              "determination": "NotAvailable"
                            },
                            "path": "/api/alerts/@{encodeURIComponent(variables('AlertId'))}"
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Set_Alert_Id_pointed_to_Host": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Set_Alert_Id_pointed_to_Host": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AlertId",
                        "value": "@{items('For_each')?['HostName']}"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Alert_Id_": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/subscribe"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "wdatp": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'wdatp')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('wdatp_1_Connection_Name'))]",
                "connectionName": "[parameters('wdatp_1_Connection_Name')]"
              },
              "azuresentinel": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'azuresentinel')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_1_Connection_Name'))]",
                "connectionName": "[parameters('azuresentinel_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('wdatp_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('azuresentinel_1_Connection_Name')]",
      "location": "eastus",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'azuresentinel')]"
        },
        "parameterValues": {
          "token:clientId": "[parameters('ClientId')]",
          "token:clientSecret": "[parameters('ClientSecret')]",
          "token:TenantId": "[parameters('ManageOfficeTenantId')]",
          "token:resourceUri": "[parameters('azuresentinel_1_token:resourceUri')]",
          "token:grantType": "[parameters('azuresentinel_1_token:grantType')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('wdatp_1_Connection_Name')]",
      "location": "eastus",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus', '/managedApis/', 'wdatp')]"
        }
      }
    }
  ],
  "outputs": {}
}