Logic_Apps/DismissADRiskyUser/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "ManageOfficeTenantId": {
      "type": "string",
      "defaultValue": "tenant"
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "azuresentinel_Connection_Name": {
      "type": "string",
      "defaultValue": "winDefenderSentinel"
    },
    "azuresentinel_token:resourceUri": {
      "type": "string",
      "metadata": {
        "description": "The resource you are requesting authorization to use."
      },
      "defaultValue": "https://management.azure.com/"
    },
    "azuresentinel_token:grantType": {
      "type": "string",
      "metadata": {
        "description": "Grant type"
      },
      "defaultValue": "client_credentials",
      "allowedValues": [
        "code",
        "client_credentials"
      ]
    },
    "keyvault_1_Connection_Name": {
      "type": "string",
      "defaultValue": "keyvault-3"
    },
    "KVName": {
      "type": "string",
      "metadata": {
        "description": "Name of the vault"
      },
      "defaultValue": ""
    },
    "KVClientId": {
      "type": "string",
      "metadata": {
        "description": "Client (or Application) ID of the Azure Active Directory application."
      },
      "defaultValue": "e9826451-6984-450b-9820-12dbb086c5b5"
    },
    "KVClientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "Client secret of the Azure Active Directory application."
      }
    },
    "keyvault_1_token:resourceUri": {
      "type": "string",
      "metadata": {
        "description": "The resource you are requesting authorization to use, for instance https://vault.azure.net"
      },
      "defaultValue": "https://vault.azure.net"
    },
    "keyvault_1_token:grantType": {
      "type": "string",
      "metadata": {
        "description": "Grant type"
      },
      "defaultValue": "client_credentials",
      "allowedValues": [
        "code",
        "client_credentials"
      ]
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Global_Scope": {
              "type": "Scope",
              "actions": {
                "For_each": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['Entities']",
                  "actions": {
                    "Condition": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(variables('UserName'))",
                              0
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each')?['Type']",
                              "account"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Set_username_with_suffix": {
                          "type": "SetVariable",
                          "inputs": {
                            "name": "UserName",
                            "value": "@{concat(items('For_each')?['Name'],'@',items('For_each')?['UPNSuffix'])}"
                          },
                          "runAfter": {}
                        },
                        "Get_User": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://graph.microsoft.com/v1.0/users/@{variables('UserName')}",
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "@body('Get_Tenant')?['value']",
                              "audience": "https://graph.microsoft.com",
                              "clientId": "@body('Get_ClientId')?['value']",
                              "secret": "@body('Get_secret')?['value']"
                            }
                          },
                          "runAfter": {
                            "Set_username_with_suffix": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Parse_User": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('Get_User')",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "businessPhones": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "displayName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "givenName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "jobTitle": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "mail": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "mobilePhone": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "officeLocation": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "preferredLanguage": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "surname": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "userPrincipalName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "id": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Get_User": [
                              "Succeeded"
                            ]
                          }
                        },
                        "Dismiss_risky_user": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "https://graph.microsoft.com/beta/identityProtection/riskyUsers/dismiss",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "userIds": [
                                "@{body('Parse_User')?['id']}"
                              ]
                            },
                            "authentication": {
                              "type": "ActiveDirectoryOAuth",
                              "tenant": "@body('Get_Tenant')?['value']",
                              "audience": "https://graph.microsoft.com",
                              "clientId": "@body('Get_ClientId')?['value']",
                              "secret": "@body('Get_secret')?['value']"
                            }
                          },
                          "runAfter": {
                            "Parse_User": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {
                        "Set_User": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Set_User": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "UserName",
                        "value": "@{items('For_each')?['Name']}"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Get_Secrets": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 1
                    }
                  }
                },
                "Get_Secrets": {
                  "type": "Scope",
                  "actions": {
                    "Get_ClientId": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('ManageOfficeClientId')}/value"
                      },
                      "runAfter": {}
                    },
                    "Get_secret": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('ManageOfficeClientSecret')}/value"
                      },
                      "runAfter": {
                        "Get_ClientId": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Get_Tenant": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/secrets/@{encodeURIComponent('ManageOfficeTenantId')}/value"
                      },
                      "runAfter": {
                        "Get_secret": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "UserName": [
                  "Succeeded"
                ]
              }
            },
            "UserName": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "UserName",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "ManageOfficeTenantId": {
              "type": "String"
            }
          },
          "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/subscribe"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "keyvault": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'keyvault')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('keyvault_1_Connection_Name'))]",
                "connectionName": "[parameters('keyvault_1_Connection_Name')]"
              },
              "azuresentinel": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuresentinel')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]",
                "connectionName": "[parameters('azuresentinel_Connection_Name')]"
              }
            }
          },
          "ManageOfficeTenantId": {
            "value": "[parameters('ManageOfficeTenantId')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('keyvault_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azuresentinel_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuresentinel')]"
        },
        "parameterValues": {
          "token:clientId": "[parameters('KVClientId')]",
          "token:clientSecret": "[parameters('KVClientSecret')]",
          "token:TenantId": "[parameters('ManageOfficeTenantId')]",
          "token:resourceUri": "[parameters('azuresentinel_token:resourceUri')]",
          "token:grantType": "[parameters('azuresentinel_token:grantType')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('keyvault_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'keyvault')]"
        },
        "parameterValues": {
          "vaultName": "[parameters('KVName')]",
          "token:clientId": "[parameters('KVClientId')]",
          "token:clientSecret": "[parameters('KVClientSecret')]",
          "token:TenantId": "[parameters('ManageOfficeTenantId')]",
          "token:resourceUri": "[parameters('keyvault_1_token:resourceUri')]",
          "token:grantType": "[parameters('keyvault_1_token:grantType')]"
        }
      }
    }
  ],
  "outputs": {}
}