Logic_Apps/AutoCloseMCASAlerts/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "ManageOfficeTenantId": {
      "type": "string",
      "defaultValue": "tenant"
    },
    "logicappName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "southafricanorth",
        "southafricawest"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "office365_Connection_Name": {
      "type": "string",
      "defaultValue": "office365Sentinel"
    },
    "azuresentinel_Connection_Name": {
      "type": "string",
      "defaultValue": "winDefenderSentinel"
    },
    "azuresentinel_token:resourceUri": {
      "type": "string",
      "metadata": {
        "description": "The resource you are requesting authorization to use."
      },
      "defaultValue": "https://management.azure.com/"
    },
    "azuresentinel_token:grantType": {
      "type": "string",
      "metadata": {
        "description": "Grant type"
      },
      "defaultValue": "client_credentials",
      "allowedValues": [
        "code",
        "client_credentials"
      ]
    },
    "keyvault_1_Connection_Name": {
      "type": "string",
      "defaultValue": "keyvault"
    },
    "KVName": {
      "type": "string",
      "metadata": {
        "description": "Name of the vault"
      },
      "defaultValue": "mosaic-kv"
    },
    "KVClientId": {
      "type": "string",
      "metadata": {
        "description": "Client (or Application) ID of the Azure Active Directory application."
      },
      "defaultValue": ""
    },
    "KVClientSecret": {
      "type": "securestring",
      "metadata": {
        "description": "Client secret of the Azure Active Directory application."
      }
    },
    "keyvault_1_token:resourceUri": {
      "type": "string",
      "metadata": {
        "description": "The resource you are requesting authorization to use, for instance https://vault.azure.net"
      },
      "defaultValue": "https://vault.azure.net"
    },
    "keyvault_1_token:grantType": {
      "type": "string",
      "metadata": {
        "description": "Grant type"
      },
      "defaultValue": "client_credentials",
      "allowedValues": [
        "code",
        "client_credentials"
      ]
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicappName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Global_Scope": {
              "type": "Scope",
              "actions": {
                "Cas_base_Url": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('CASBaseUrl')}/value"
                  },
                  "runAfter": {}
                },
                "Get_Token": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('MCASToken')}/value"
                  },
                  "runAfter": {
                    "Cas_base_Url": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each": {
                  "type": "Foreach",
                  "foreach": "@triggerBody()?['Entities']",
                  "actions": {
                    "Condition": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": [
                              "@length(variables('AgentId'))",
                              0
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each')?['Type']",
                              "host"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Resolve_": {
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "@{body('Cas_base_Url')?['value']}/alerts/resolve",
                            "headers": {
                              "Content-Type": "application/json",
                              "Authorization": "Token @{body('Get_Token')?['value']}"
                            },
                            "body": {
                              "comment": "ClosingFalsePositiveAlerts",
                              "filters": {
                                "id": {
                                  "eq": [
                                    "@{variables('AgentId')}"
                                  ]
                                }
                              }
                            }
                          },
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Set_ComputerName": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Set_ComputerName": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "AgentId",
                        "value": "@{items('For_each')?['HostName']}"
                      },
                      "runAfter": {}
                    }
                  },
                  "runAfter": {
                    "Get_Token": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 1
                    }
                  }
                }
              },
              "runAfter": {
                "agent_Id": [
                  "Succeeded"
                ]
              }
            },
            "agent_Id": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "AgentId",
                    "type": "string"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "ManageOfficeTenantId": {
              "type": "String"
            }
          },
          "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/subscribe"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "keyvault": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'keyvault')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('keyvault_1_Connection_Name'))]",
                "connectionName": "[parameters('keyvault_1_Connection_Name')]"
              },
              "azuresentinel": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuresentinel')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]",
                "connectionName": "[parameters('azuresentinel_Connection_Name')]"
              }
            }
          },
          "ManageOfficeTenantId": {
            "value": "[parameters('ManageOfficeTenantId')]"
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('keyvault_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azuresentinel_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuresentinel')]"
        },
        "parameterValues": {
          "token:clientId": "[parameters('KVClientId')]",
          "token:clientSecret": "[parameters('KVClientSecret')]",
          "token:TenantId": "[parameters('ManageOfficeTenantId')]",
          "token:resourceUri": "[parameters('azuresentinel_token:resourceUri')]",
          "token:grantType": "[parameters('azuresentinel_token:grantType')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('keyvault_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'keyvault')]"
        },
        "parameterValues": {
          "vaultName": "[parameters('KVName')]",
          "token:clientId": "[parameters('KVClientId')]",
          "token:clientSecret": "[parameters('KVClientSecret')]",
          "token:TenantId": "[parameters('ManageOfficeTenantId')]",
          "token:resourceUri": "[parameters('keyvault_1_token:resourceUri')]",
          "token:grantType": "[parameters('keyvault_1_token:grantType')]"
        }
      }
    }
  ],
  "outputs": {}
}